/* global.css */

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f3f2ee; 
  color: #52423d; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
}

  h1 {
    font-weight: 700; 
    font-size: 1.5rem;
    margin: 0;
  }
  
  p {
    font-size: 1rem;
    margin: 0;
    align-content: left;
    color: #76706d; 
    font-weight: 500;
    margin: 0;
  }

